@import "tailwindcss";

@layer base {
  :root {
    --color-powder: #F7F7F2;
    --color-beige: #E4E6C3;
    --color-moss: #899878;
    --color-eerie: #222725;
    --color-night: #121113;
  }

  body {
    background-color: var(--color-night);
    color: var(--color-powder);
    font-family: 'IBM Plex Sans', sans-serif;
  }

  h1, h2, h3 {
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
  }

  a {
    color: var(--color-moss);
    transition: 0.2s;
  }

  a:hover {
    color: var(--color-beige);
  }

  button {
    background-color: var(--color-moss);
    color: var(--color-powder);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: background-color 0.2s;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--color-eerie);
  }
}

html {
  scroll-behavior: smooth;
}

code, .mono {
  font-family: 'JetBrains Mono', monospace;
}

.project-title {
  font-family: 'Rajdhani', sans-serif;
  color: var(--color-beige);
}